/* common styles */
:root {
    --navbar-width: 26rem;
    --navbar-width-860: 22rem;

    --col1: #00887A;
    --col2: #FFCCBC;
    --col3: #FFFFFF;
    --col4: #D3E3FC;
    --col5: #77A6F7;

    --bordercol: rgb(0, 0, 64);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* end of common styles */

/* navbar styles */

#navbar {
    position: fixed;
    width: var(--navbar-width);
    min-width: 20rem;
    height: 100%;
    padding: 2rem 0;
    border-right: solid;
    border-color: var(--bordercol);

    background-color: var(--col5);
}

#navbar > header {
    padding: 2rem 0;
    font-size: 2.8rem;
    text-align: center;
    line-height: 3.5rem;
    border-bottom: 1px solid var(--bordercol);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    /* color: #282828; */
    color: var(--bordercol);
}

#navbar ul {
    padding: 0;
    margin: 0;
}

#navbar li {
    padding: 1.6rem 2rem;
    border-bottom: 1px solid var(--bordercol);

    font-size: 1.8rem;
    text-align: left;
    list-style-type: none;
}

ul > a {
    text-decoration: none;
    color: var(--col3);
}

a:visited {
    color: var(--col3);
}

a:hover {
    color: var(--col4);
}

/* end of navbar styles */

/* content styles */

#main-doc {
    margin-left: var(--navbar-width);
    padding-top: 1rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem;

}

header {
    padding: 4rem 0 1rem;
    font-size: 2.2rem;
    font-weight: 700;

    color: var(--col1);

}

section > header {
    min-width: 40rem;
}

p {
    min-width: 40rem; 
    font-size: 1.8rem;
}

section > p:last-child {
    margin-bottom: 2rem;
}

li {
    font-size: 1.8rem;
    text-align: left;
    list-style-type: none;

}


.code-wrapper {
    width: 90%;
    min-width: 40rem; 
    margin: 4rem 0;
    padding: 2rem;
    
    border-radius: 5px;
    /* background-color: rgb(235, 235, 235); */
    background-color: var(--col4);
}

code {
    font-family: "Courier New";
    font-size: 1.6rem;
}

code p {
    min-width: 20rem;
    max-width: 100%;
    margin: 0.5rem;
    font-size: 1.6rem;
}

.tag {
    color: maroon;
}

.attribute, .string {
    color: green;
}

.value, .type {
    color: blue;
}

.function {
    color: red;
}

.indent {
    padding-left: 4rem;
}

.numVal {
    color: maroon;
}

/* end of content styles */

@media (max-width: 860px) {
    #navbar {
        width: var(--navbar-width-860);
    }
    #navbar > header {
        font-size: 2.2rem;
    }
    #navbar li {
        font-size: 1.6rem;
    }

    #main-doc {
        margin-left: var(--navbar-width-860);
        padding-top: 1rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    header {
        padding-top: 2.5rem;
        font-size: 1.8rem;
    }

    p {
        font-size: 1.6rem;
    }

    li {
        font-size: 1.6rem;
    }
    code p {
        font-size: 1.4rem;

    }
}

